.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba($color-black, 0.8);
  transition: all 0.3s;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;

  @supports (
    (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))
  ) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba($color-black, 0.3);
  }

  &__content {
    width: 75%;
    background: rgb(255, 254, 254);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    @include box-shadow(0.2);
    @include center-gorizontal-vertical;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 33.33%;
    display: table-cell;
  }

  &__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  //OPEN STATES
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
