.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
	background-color: rgba($color-white, .6) ;
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	transform: skewX(-12deg);

	@include respond(tab-port) {
		width: 100%;
		padding: 4rem;
		padding-left: 7rem;
	}

	@include respond(phone) {
		transform: skewX(0);
	}

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		position: relative;
		shape-outside: circle(50% at 50% 50%);
		-webkit-shape-outsid: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		--webkit-clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);

		@include respond(phone) {
			transform: translateX(-3rem) skewX(0);
		}
	}

	&__img {
		height: 100%;
		transform: translate(-4rem) scale(1.4);
		@include transition;
	}

	&__text {
		transform: skewX(12deg);

		@include respond(phone) {
			transform: skewX(0);
		}
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center;
		opacity: 0;
		backface-visibility: hidden;
		@include transition;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__img {
		transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
	}
}
